<div id="about-me">
    <div class="content">
        <div class="container">
            <h2 class="section-title" translate="aboutme.whoami"></h2>
            <p class="about-me-paragraph">
                <span translate="aboutme.paragraph.hi"></span>
                <strong>Livio Brunner</strong>
                <span translate="aboutme.paragraph.age"></span>
                <strong translate="aboutme.paragraph.programming"></strong>
                <span translate="aboutme.paragraph.and"></span>
                <strong translate="aboutme.paragraph.webdevelopment"></strong>
                <span translate="aboutme.paragraph.bymyself"></span>
                <strong translate="aboutme.paragraph.RocheDiagnosticsInternationalAG"></strong>
            </p>
        </div>
    </div>
    <div id="about-me-triangle"></div>
</div>