#home {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(http://www.doggifpage.com/gifs/142.gif);
    background-position: center;
    .card {
        width: 90%;
        height: 90%;
        background-size: cover;
        transform-style: preserve-3d;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(http://www.doggifpage.com/gifs/142.gif);
        background-position: center;
        opacity: 0.85;
    }
}