// style for the projects component
#projects{
    position: relative;
    padding-bottom:50px;
    opacity:0;
    &.active{
        opacity:1;
    }
    #projects-background{
        z-index:-2;   
        background-color: #7a1fa2;
        @include filter-gradient(#7a1fa2, #ffeb3b, horizontal);
        @include background-image(linear-gradient(left top,  #7a1fa2 0%,#ffeb3b 100%));
    }
    #bierbendiger-background{
        z-index:-3;   
        background-color: #5c6bc0;
        @include filter-gradient(#388e3c, #5c6bc0, horizontal);
        @include background-image(linear-gradient(right top,#388e3c 0%,#5c6bc0 100%));
    }
    #silvieundwieni-background{
        z-index: -4;
        background-color: #4e342e;
        @include filter-gradient(#4e342e, #6593de, horizontal);
        @include background-image(linear-gradient(left top,  #4e342e 0%,#6593de 100%));
    }
    #projects-title{
        margin-bottom:50px;
    }
    .gradient-background{
        width:100vw;
        height:100vh;
        position:fixed;
        top:0;
        left:0;
    }
    .project{
        width:100%;
        margin-top:70px;
        &:last-child{
            padding-bottom:50px;
        }
        &.right-sided-information{
            .project-title{
                float:right;
            }
            .project-image{
                float:left;
            }
        }
        &.left-sided-information{
            .project-title{
                float:right;
                margin-right:40px;
                margin-top:70px;
                @media #{$medium-and-down}{
                    width:100%;
                    text-align:center;
                    margin-left:0;
                    margin-right:0;
                    margin-top:0;
                }
            }
            .project-image{
                float:right;
            }
            .project-description{
                margin-left:40px;
                margin-top:50px;
                
                @media #{$medium-and-down}{
                    margin:auto;   
                }
            }
        }
        &-wrapper{
            @include clearfix;
        }
        &-title{
            font-family: 'Oswald', Arial, sans-serif;
            font-size:50px;
            color:white;
            margin-right:40px;
            margin-top:40px;
            @media #{$medium-and-down}{
                float:noneS;
                width:100%;
                text-align: center;
                margin-right:0;
                margin-bottom:30px;
                margin-top:10px;                
                font-size:28px;
            }
        }
        &-image{
            width:60%;
            @media #{$medium-and-down}{
                width:100%;
            }
        }
        &-description{
            color:white;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            float:left;
            margin-top:150px;
            margin-left:20px;
            width:20%;
            @media #{$medium-and-down}{
                width:300px;
                text-align: center;
                float:none;
                margin:auto;
            }
        }
        &-technologies{
            display:flex;
            float:right;
            justify-content: space-around;
            margin-right:50px;
            margin-top:20px;
            .sprite{
                margin:5px;
            }
        }
    }
    #timeline-overlay{
        height:100vh;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        background:white;
        z-index:1;
        opacity:0;;
    }
}