<div id="projects">
    <div id="projects-background" class="gradient-background"></div>
    <h2 class="section-title" translate="projects.projects" id="projects-title"></h2>
    <div class="project right-sided-information" id="bierbendiger-project">
        <div id="bierbendiger-background" class="gradient-background"></div>
        <div class="project-wrapper">
            <image class="project-image" src="images/projects/bendiger.beer.png" alt="Bierbendiger Website" />
            <h3 class="project-title">Bierbendiger</h3>
            <p class="project-description">
                <span translate="projects.bierbendiger.description"></span>
                <a target="_blank" href="http://bendiger.beer">bendiger.beer</a>
                <span translate="projects.bierbendiger.description1"></span>
            </p>
            <div class="project-technologies">
                <i class="sprite sprite-angular"></i>
                <i class="sprite sprite-php"></i>
                <i class="sprite sprite-sass"></i>
                <i class="sprite sprite-github"></i>
            </div>
        </div>

    </div>
    <div class="project left-sided-information" id="silvieundwieni-project">
        <div id="silvieundwieni-background" class="gradient-background"></div>
        <div class="project-wrapper">
            <image class="project-image" src="images/projects/silvieundwieni.ch.png" alt="Bierbendiger Website" />
            <h3 class="project-title">Silvie und Wieni</h3>
            <p class="project-description">
                <span translate="projects.silvieundwieni.description"></span>
            </p>
            <div class="project-technologies">
                <i class="sprite sprite-wordpress"></i>
                <i class="sprite sprite-php"></i>
            </div>
        </div>
    </div>

</div>