<div id="timeline">
    <!-- timeline component template -->
    <div class="timeline-node">
        <div class="timeline-node-content">
            <div class="timeline-node-date">
                2014 - 2016
            </div>
            <h3 translate="timeline.apprenticeship.title">
        </h3>
            <h4 translate="timeline.apprenticeship.subtitle"></h4>
            <p translate="timeline.apprenticeship.story"></p>
        </div>
    </div>
    <div class="timeline-node">
        <div class="timeline-node-content">
            <div class="timeline-node-date">
                2011 - 2014
            </div>
            <h3 translate="timeline.school.title">
            </h3>
            <h4 translate="timeline.school.subtitle"></h4>
            <p translate="timeline.school.story"></p>
        </div>
    </div>
</div>