html, body, .container, [ui-view]{
    width:100%;
    height:100%;
}
body{
    height:3000px;
}
//Section Title
.section-title{
    color:white;
    font-family:$monospace;
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    @media #{$small-and-down}{
        margin-top:0px;   
    }
}
//Paragraph default
p{
    line-height: 32px;
    font-size:24px;
}
//Link Style
a{
    color:#BBDEFB;
    text-decoration: none;
    display:inline-block;
    position: relative;
    transition: 0.2s all $swiftOutBesizer;
    &:hover{
        &::after{
            transform:translateY(0px);
            opacity:1;
        }
    }
    &::after{
        transition: 0.2s all $swiftOutBesizer;
        content:'';
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        height:2px;
        background-color:#BBDEFB;
        opacity:0;
        transform:translateY(-5px);
    }
    &:active{
        color:#90CAF9;
        &::after{
            background-color:#90CAF9;
        }
    }
}
//Selection Color
::selection {
    background-color: $primary-color;
    color: white;
}
::-moz-selection {
    background-color: $primary-color;
    color: white;
}
//Hint transperentize
.hint{
    &::after{
        background:rgba(0,0,0,0.5);
    }
    &.hint--before{
        &::before{
            border-bottom-color:rgba(0,0,0,0.5);
        }
        &::after{
            //Fix, because with the transparent color you would see the arrow and the 
            //element overlap.
            top:calc(100% + 1px);
        }
    }
    &.hint--top{
        &::before{
            border-top-color:rgba(0,0,0,0.5);
        }
        &::after{
            bottom:calc(100% + 1px);
        }
    }
    
}